*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}





.menubar{
    display: flex;
    justify-content: space-between;
    background-color:#5E5748 ;
    align-items: center;
    padding: 45px 20px;
    opacity: 0.8;
   
}

.menubar ul li{
    list-style: none;
    display: inline-block;
    position: relative;

}

.menubar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 100;
    margin-right: 15px;
    padding-right: 10px;
    
}

.menu-background{
    color: #fff;
    background-image:linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(pic/jonathan-borba-aC5_EFhq7Fs-unsplash.jpg);
    background-position: center top ;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 200px;
    font-size: 35px;
    align-items: center;
    
}

div.menu-background h2{
    text-align: center;
    margin-bottom: 80px;
    
}

div.story{
    text-align: center;
    padding: 100px 450px 150px 450px;
}

div.story h1{
    margin-bottom: 20px;
    font-size: 40px;
}

div.story p{
    letter-spacing: 0.2px;
    line-height: 25px;
}


.colum-place{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 0%;
    object-fit: cover;
    gap: 2px;
    
}

    

.place-cover img{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    align-items: center;
}

.Name h1{
    position: absolute;
    align-items: center;
}
.place{
    
    align-items: center;
    text-align: center;
    
    
}

.place-cover{
    margin-bottom: 10px;
}

.place h2{
    padding: 5px;
    font-weight: 100;
    font-size: 20px ;
    color: #97805B;
}

.place p{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    color: #97805B;
    margin-top: 5px;
    letter-spacing: 0.3px;
    font-size: 18px;
}

.place a{
    color: #97805B;

}



.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: space-between;
    
    margin-top: 50px;
   
    
   
}

.card img{
    position: relative;
    width: 100%;
    height: 100%;
   
    
}

.text-card{
    background-color: #97805B;
    background-position: center center;
    background-size: cover;
    color: #fff;
    font-size: 40px;
    font-family: "Tangerine", sans-serif;
    font-weight: thin;
    font-weight: inherit;
    word-spacing: 3px;
   
    
}

.text-card h1{
    margin-top: 80px;
    margin-left: 180px;
    text-transform: capitalize;
}

.text-card h2{
    margin-top: 160px;
    margin-left: 180px;
}

.service-colum{
    
    
    margin-top: 0;
    background-color: rgba(151, 128, 91, 0.15);
    padding-top: 70px;
    
    
    
}
.service h1{
    text-align: center;
    text-transform: capitalize;
    font-family: "Tangerine", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #97805B;
    
}

.colum{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 85px 120px;
    text-align: center;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    word-spacing: 2px;
    color: #97805B;
    height: 550px;
    
}

.colum1 h1{
    text-transform: uppercase;
    padding-bottom: 10px;
    
}



.colum1 i{
    color: #97805B;

}

.service-colum .colum .colum1 p{
    color: #97805B;
}

div.gallary{
    padding-top: 50px;
}

div.gallary h2{
    font-weight: 400;
    font-size: 60px;
    color: #97805B;
    text-align: center;
    font-family: "Tangerine", sans-serif;
    text-transform: capitalize;
}

div.gallary p{
    color: #97805B;
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
    margin-top: 20px;
}
.gallary .rol-gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px 300px;
    gap: 10px;
    margin: 0px 40px;
    
    

}

.rol-gallary{
    position: relative;
}

.rol-gallary .gallary1{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rol-gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.gallary .rol-gallary .gallary1{
    grid-row: span 2;
}

.gallary .rol-gallary .gallary3{
    grid-row: span 2;
}
.gallary .rol-gallary .gallary4{
    grid-row: span 2;
}

div.about{
    background-image: url(https://seesarinstudio.com/wp-content/uploads/2023/10/Artboard-15001.png);
    height: 800px;
    margin-top: 80px;
    text-align: center;
}

div.about h1{
    font-weight: 400;
    font-size: 60px;
    color: #97805B;
    text-align: center;
    font-family: "Tangerine", sans-serif;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 30px;
}

div.about p{
    color: #97805B;
    font-size: 19px;
    padding: 15px 500px;
    letter-spacing: 0.2px;
    
}
div.about p.text2{
    margin-bottom: 80px;
}




div.about a{
    color: #97805B;
    border: solid #97805B;
    text-decoration: none;
    padding: 8px 22px;
    border-radius: 3px;
    
}
div.contact{
    
    margin-top: 100px;
    text-align: center;
}

div.contact h1{
    font-weight: 400;
    font-size: 60px;
    color: #97805B;
    text-align: center;
    font-family: "Tangerine", sans-serif;
    text-transform: capitalize;
    
    
}
div.contact img{
   text-align: center;
   
   width: 80%;
   margin-bottom: 100px;
   
}
div.contact .inform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    text-align: center;
    
    padding: 0px 50px;
    margin: 0 50px;
    padding-bottom: 30px;

}

div.contact .inform1{
    padding: 0 70px;
    
}

div.contact h2{
    color: #97805B;
    font-size: 19px;
    font-weight: 20;
    padding: 10px 0;
    text-align: center;
    
}

.icon1{
    display: flex;
}
.inform h2{
    line-height: 30px;
}
.icon1 h2{
    margin-left: 20px;
    margin-bottom: 30px;
    
}
svg{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer1{
    height: 250px;
    background-color: rgba(94, 87, 72,0.8);
}
.footer1 {
    text-align: center;
    padding-top: 50px;
    
}
.footer1 p{
    color: #fff;
    padding-top: 30px;
    font-size: 18px;
}